@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-navy-950: #0a1120;
  --color-navy-900: #0f172a;
  --color-navy-800: #16213e;
  --color-navy-700: #1e293b;

  --color-cream: #edebe6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-navy-950: var(--color-navy-950);
  --color-navy-900: var(--color-navy-900);
  --color-navy-800: var(--color-navy-800);
  --color-navy-700: var(--color-navy-700);
  --color-navy: var(--color-navy-900);

  --color-cream: var(--color-cream);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
}
